<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for person in persons %}
            <li>
                <a href="{% url 'person_update' person.id %}">
                    {{ person.first_name }}
                    {{ person.last_name }}
                </a>
                <a href="{% url 'person_delete' person.id %}">Excluir</a>
            </li>
        {% endfor %}

        <br>
        <br>
        <a href="{% url 'person_new' %}">Novo cliente</a>
    </ul>
</body>
</html>